<h1>basic</h1>
<p>Canvas</p>
<qrcode value="https://angular.io/"></qrcode>
<p>SVG</p>
<qrcode mode="svg" value="https://angular.io/"></qrcode>

<h1>logo</h1>
<p>Canvas</p>
<qrcode value="https://angular.io/" icon="./../assets/angular.svg"></qrcode>
<p>SVG</p>
<qrcode mode="svg" value="https://angular.io/" icon="./../assets/angular.svg"></qrcode>

<h1>color</h1>
<p>Canvas</p>
<qrcode value="https://angular.io/" [color]="color"></qrcode>
<p>SVG</p>
<qrcode mode="svg" value="https://angular.io/" [color]="color1"></qrcode>

<h1>errorLevel</h1>
<ul>
  <li *ngFor="let lev of level">
    <button [class.active]="lev === errorLevel" (click)="changeLevel(lev)">{{ lev }}</button>
  </li>
</ul>
<p>Canvas</p>
<qrcode [value]="value" [errorLevel]="errorLevel"></qrcode>
<p>SVG</p>
<qrcode mode="svg" [value]="value" [errorLevel]="errorLevel"></qrcode>

<h1>size</h1>
<p>Canvas</p>
<qrcode value="https://angular.io/" [size]="300"></qrcode>
<qrcode
  value="https://angular.io/"
  [size]="300"
  [iconSize]="80"
  icon="./../assets/angular.svg"
></qrcode>
<p>SVG</p>
<qrcode mode="svg" value="https://angular.io/" [size]="300"></qrcode>
<qrcode
  mode="svg"
  value="https://angular.io/"
  [size]="300"
  [iconSize]="80"
  icon="./../assets/angular.svg"
></qrcode>

<h1>download</h1>
<div id="download">
  <qrcode value="https://angular.io/"></qrcode>
  <qrcode mode="svg" value="https://angular.io/"></qrcode>
  <a #download></a>
  <button (click)="downloadQRCode()">Download Canvas</button>
  <button (click)="downloadQRCode(false)">Download SVG</button>
</div>

<!--<app-qrcode-test [value]="value" errorLevel="Q"></app-qrcode-test>-->
<!--<app-qrcode-test mode="svg" [value]="value" errorLevel="Q"></app-qrcode-test>-->

<!--<app-qrcode-test [value]="value" errorLevel="Q" icon="./../assets/angular.svg"></app-qrcode-test>-->
<!--<app-qrcode-test-->
<!--  mode="svg"-->
<!--  [value]="value"-->
<!--  errorLevel="Q"-->
<!--  icon="./../assets/angular.svg"-->
<!--&gt;</app-qrcode-test>-->
